{% extends 'base.html' %}

{% block title %}Your Friends{% endblock %}

{% block content %}
    <h2>Your Friends</h2>
    {% for friendship in friendships %}
        <div>
            <p>{{ friendship.to_user.user.username }} (Closeness: {{ friendship.closeness }})</p>
            <hr>
        </div>
    {% empty %}
        <p>You have no friends yet.</p>
    {% endfor %}

    <hr>

    <h2>Friend Requests</h2>
    {% for request in friend_requests %}
        <div>
            <p>{{ request.from_user.username }} wants to be your friend.</p>
            <a href="{% url 'accept_friend_request' request.id %}"><button>Accept</button></a>
            <a href="{% url 'decline_friend_request' request.id %}"><button>Decline</button></a>
            <hr>
        </div>
    {% empty %}
        <p>You have no new friend requests.</p>
    {% endfor %}

    <hr>

    <h2>Find New Friends</h2>
    {% for profile in other_users %}
        <div>
            <p>{{ profile.user.first_name }} {{ profile.user.last_name }} ({{ profile.user.username|cut:"@gmail.com" }})</p>
            <form action="{% url 'send_friend_request' profile.user.id %}" method="post">
                {% csrf_token %}
                <label for="closeness-{{ profile.user.id }}">Closeness:</label>
                <input type="range" id="closeness-{{ profile.user.id }}" name="closeness" min="0" max="100" value="50">
                <button type="submit">Add Friend</button>
            </form>
            <hr>
        </div>
    {% empty %}
        <p>No new users to add as friends right now.</p>
    {% endfor %}

{% endblock %}
